<div id="galeria-hotel">
  <div class="container">
    <h2 class="section-header">Galeria</h2>
    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</p>
    <div class="col-md-12">
    <div id="owl-demo2" class="owl-carousel">
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_9539.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_7038.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_7019.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_6904.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_6888.jpg" alt="Lazy Owl Image"></div>
      <div class="item"><img class="lazyOwl img-responsive" data-src="http://localhost/hesperia_oct/storage/app/media/galeria-hotel/IMG_6827.jpg" alt="Lazy Owl Image"></div>
    </div>
  </div>
  <p class="text-right"><a href="#" class="btn btn-danger">Ver Galeria</a></p>
</div>
