<div id="overview-hotel">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="col-md-12">
          <h2 class='section-header text-theme-1'>Bienvenido</h2>
        <p>Hesperia WTC Valencia Hotel & Convention Center, de categoría superior,
          pertenece a la reconocido  Grupo Hotelero  NH Hotels , con presencia en 27 paí­ses,
          siendo uoa de las más grandes en España y el quinto de Europa en la categoria de negocios.</p>
        </div>
        <div class="col-md-12">
          <div class="media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x text-theme-1"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Centro de Convenciones</h4>
                <p>Disfruta de los mejores eventos de país con nosotros</p>
              </div>
          </div>

         <div class="media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x text-theme-1"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Salon VIP</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <img src="http://localhost/hesperia_oct/storage/app/media/tests/IMG-20160901-WA0041.jpg" class="img-responsive"></a>
        <h3 class="text-center"><a class="btn btn-danger" href="#">Ver Ficha Técnica</a></h3>
      </div>
    </div>
  </div> <!-- CONTAINER -->
</div> <!-- WELCOME -->
