<section class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                <div class="section-title">
                    <h2>Nuestro Hotel</h2>
                    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</p>
                </div>
            </div>

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#novedades" aria-controls="novedades" role="tab" data-toggle="tab">Novedades</a></li>
                    <li><a href="#caracteristicas" aria-controls="el_hotel" role="tab" data-toggle="tab">Caracteristicas</a></li>
                    <li><a href="#habitaciones" aria-controls="habitaciones" role="tab" data-toggle="tab">Habitaciones</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active col-md-12" id="novedades">
                      <div class='col-md-4 col-xs-6'>
                        <img src="http://localhost/hesperia_oct/storage/app/media/tests/400x400.png" class='img-responsive'>
                        <h4 class="text-center">Novedad 1</h4>
                      </div>

                      <div class='col-md-4 col-xs-6'>
                        <img src="http://localhost/hesperia_oct/storage/app/media/tests/400x400.png" class='img-responsive'>
                        <h4 class="text-center">Novedad 2</h4>
                      </div>

                      <div class='col-md-4 col-xs-12 block-center'>
                        <img src="http://localhost/hesperia_oct/storage/app/media/tests/400x400.png" class='img-responsive'>
                        <h4 class="text-center">Noticia 3</h4>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane col-md-12" id="caracteristicas">
                      <div class="col-md-12">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Terraza</h4>
                              </p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Estacionamiento</h4>
                              </p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Piscina</h4>
                              </p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Servicio de Botones</h4>
                              </p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Gimnasio</h4>
                              </p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="media-center">
                              <p class="text-center">
                                <span class="fa-stack fa-2x text-center">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="text-center">Wifi</h4>
                              </p>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="habitaciones">
                      <div id="owl-demo3" class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="col-md-4 col-sm-2">
                              <img src="http://localhost/hesperia_oct/storage/app/media/tests/IMG-20160901-WA0037.jpg" class="img-responsive" alt="program">
                          </div>
                          <div class="col-md-8 col-sm-10">
                              <h3>Online Shopping Business</h3>
                              <p>Aliquam faucibus lobortis dolor, id pellentesque eros pretium in. Aenean in erat ut quam aliquet commodo. Vivamus aliquam pulvinar ipsum ut sollicitudin. Suspendisse quis sollicitudin mauris.</p>
                          </div>
                        </div>
                        <div class="item">
                          <div class="col-md-4 col-sm-2">
                              <img src="http://localhost/hesperia_oct/storage/app/media/tests/IMG-20160901-WA0037.jpg" class="img-responsive" alt="program">
                          </div>
                          <div class="col-md-8 col-sm-10">
                              <h3>Online Shopping Business</h3>
                              <p>Aliquam faucibus lobortis dolor, id pellentesque eros pretium in. Aenean in erat ut quam aliquet commodo. Vivamus aliquam pulvinar ipsum ut sollicitudin. Suspendisse quis sollicitudin mauris.</p>
                          </div>
                        </div>
                      </div>



                        <!-- program divider -->
                        <div class="program-divider col-md-12 col-sm-12"></div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
