<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center"><i class="fa fa-exclamation-triangle fa-3x"></i>
          <br>¡Vaya! No hemos podido encontrar lo que solicitas<br>
          <small>Pero no hay problema, si quieres reservar haz click
             <a href="{{'hotel/reservacion_habitacion'|page}}">AQUI</a></small>
        </h1>

          <br>
      </div>
    </div>

  </div>
</div>
