<section class="parallax-section" id="atrapame">
	<div class="container-fluid">
		<div class="row">
			<div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8 pull-right" data-wow-delay="0.9s">

				<h2 class="text-center">¡Atrápame!</h2>

				<h4 class="text-center">¡Todos los días atrapa las diferentes oportunidades que tenemos para tí!</h4>
				<label class="text-center">Accede cada día a esta sección y atrapa las novedades que iremos publicando.</label>
				<div id="clock-atrapame">
					<br>
				</div>
				<div id="clock-atrapame">
					<div class="layout-cell w-350 hide-on-small" data-control="layout-sidepanel" id="layout-side-panel" style="display: table-cell; vertical-align: top; height: 667px; color: rgb(51, 51, 51); background-color: rgb(249, 249, 249);">
						<div class="layout control-scrollpanel" id="pages-side-panel" style="height: 667px; width: 350px;">
							<div class="layout-cell" style="height: 667px;">
								<div class="layout-relative fix-button-container" style="height: 667px;">
									<form class="layout" data-content-id="content" data-object-type="content" data-type-icon="oc-icon-file-text-o" style="height: 667px; width: 350px;">
										<div class="layout-row" style="height: 622.5px;">
											<div class="layout-cell" style="height: 622.5px;">
												<div class="layout-relative" style="height: 622.5px;">
													<div class="layout-absolute" style="height: 622.5px; width: 350px;">
														<div class="control-scrollbar drag-scrollbar vertical" data-control="scrollbar" data-disposable="" style="height: 622.5px;">
															<div class="scrollbar-scrollbar" style="display: block;">
																<div class="scrollbar-track" style="height: 804px;">
																	<div class="scrollbar-thumb" style="height: 482.748px; top: 0px;"></div>
																</div>
															</div>
															<div class="control-filelist filelist-hero content" data-control="filelist" data-group-status-handler="contentList::onGroupStatusUpdate" id="TemplateList-contentList-template-list">

																<ul>
																	<li class="item" data-id="content-martin-new-event-menu-principal.htm" data-item-path="menu-principal.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;">
																		<div class="checkbox custom-checkbox nolabel">
																			<label for="cbe1fff273511bdbb0d73579fda2a37d5a">Select</label>
																		</div>
																	</li>
																	<li class="group" data-status="expanded" style="line-height: 21px;">

																		<h4><a>banner-paginas</a></h4>

																		<ul style="overflow: visible; height: auto;">
																			<li class="item" data-id="content-martin-new-event-banner-paginas/blog-banner.htm" data-item-path="banner-paginas/blog-banner.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'banner-paginas/blog-banner' %}" draggable="true"><span class="title">Blog Banner</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb5ad737d131a8ec780266ddd4ff1037a2">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-banner-paginas/lista-hoteles-banner.htm" data-item-path="banner-paginas/lista-hoteles-banner.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'banner-paginas/lista-hoteles-banner' %}" draggable="true"><span class="title">Lista Hoteles Banner</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb6744a39b351c50c4d3f43a8f6736c6a5">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-banner-paginas/lista-restaurantes-banner.htm" data-item-path="banner-paginas/lista-restaurantes-banner.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'banner-paginas/lista-restaurantes-banner' %}" draggable="true"><span class="title">Lista Restaurantes Banner</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb588b15383bf4466b6fc19fef67a4f6fc">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-banner-paginas/pago-de-reserva-banner.htm" data-item-path="banner-paginas/pago-de-reserva-banner.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'banner-paginas/pago-de-reserva-banner' %}" draggable="true"><span class="title">Pago De Reserva Banner</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb367cc84e7d3ec59409db4ab2804edede">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-banner-paginas/reserva-hab-banner.htm" data-item-path="banner-paginas/reserva-hab-banner.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'banner-paginas/reserva-hab-banner' %}" draggable="true"><span class="title">Reserva Hab Banner</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb6f3e447eacf3baa6a0e42c69ec5700a5">Select</label>
																				</div>
																			</li>
																		</ul>
																	</li>
																	<li class="group" data-status="collapsed" style="line-height: 21px;">

																		<h4><a>generales</a></h4>
																	</li>
																	<li class="group" data-status="expanded" style="line-height: 21px;">

																		<h4><a>home</a></h4>

																		<ul style="overflow: visible; height: auto;">
																			<li class="item active" data-id="content-martin-new-event-home/atramape.htm" data-item-path="home/atramape.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/atramape' %}" draggable="true"><span class="title">Atramape</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cbf5b029440b27cafeb81dd5f30f8a7537">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/complementos-index.htm" data-item-path="home/complementos-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/complementos-index' %}" draggable="true"><span class="title">Complementos Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb86bb5fb549ed64e4a906bbb7a738084b">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/detail-index.htm" data-item-path="home/detail-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/detail-index' %}" draggable="true"><span class="title">Detail Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb0cae8614f32e705aa62ff9908460689c">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/eventos-index.htm" data-item-path="home/eventos-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/eventos-index' %}" draggable="true"><span class="title">Eventos Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cbf15ded23a99d00017ee8c309d7255c61">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/foto-hoteles-index.htm" data-item-path="home/foto-hoteles-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/foto-hoteles-index' %}" draggable="true"><span class="title">Foto Hoteles Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb5bce0f0aa9d8a6efb4689075ce4cb1ac">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/noticia-index.htm" data-item-path="home/noticia-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/noticia-index' %}" draggable="true"><span class="title">Noticia Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb641c3616ac218feb1bdf69d2e9e9d639">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/paquetes-index.htm" data-item-path="home/paquetes-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/paquetes-index' %}" draggable="true"><span class="title">Paquetes Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb1dda0aed6f776beb5af113b475f00c01">Select</label>
																				</div>
																			</li>
																			<li class="item" data-id="content-martin-new-event-home/restaurantes-index.htm" data-item-path="home/restaurantes-index.htm" data-item-theme="martin-new-event" data-item-type="content" style="line-height: 21px;"><a data-control="dragvalue" data-text-value="{% content 'home/restaurantes-index' %}" draggable="true"><span class="title">Restaurantes Index</span></a>
																				<div class="checkbox custom-checkbox nolabel">
																					<label for="cb74da0aa72477c2413b757f7fc514e159">Select</label>
																				</div>
																			</li>
																		</ul>
																	</li>
																	<li class="group" data-status="collapsed" style="line-height: 21px;">

																		<h4><a>hoteles</a></h4>
																	</li>
																	<li class="group" data-status="collapsed" style="line-height: 21px;">

																		<h4><a>misc</a></h4>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="layout-cell layout-container" id="layout-body" style="display: table-cell; vertical-align: top; height: 667px; color: rgb(51, 51, 51); background-color: rgb(249, 249, 249); padding-top: 0px !important; padding-right: 0px !important; padding-left: 0px !important;">
						<div class="layout-relative" style="height: 667px;">
							<div class="layout" style="height: 667px; width: 898px;">
								<div class="layout-row" style="height: 667px;">
									<div class="layout control-tabs master-tabs fancy-layout oc-logo-transparent has-tabs" data-closable="" data-close-confirmation="Close the tab? Unsaved changes will be lost." data-control="tab" data-max-title-symbols="15" data-pane-classes="layout-cell" data-title-as-file-names="false" id="pages-master-tabs" style="height: 667px; width: 898px;">
										<div class="layout-row min-size">
											<div class="tabs-container">

												<ul class="nav nav-tabs" data-disposable="">
													<li data-modified="" data-tab-id="page-martin-new-event-prueba"><a class="oc-icon-files-o" data-target="#tabs3312-tab-01504651733456" data-toggle="tab" style="line-height: 14px;" title="Hoteles Hesperia - Home"><span class="title"><span><span class="title">...Hesperia - Home</span></span></span></a><span class="tab-close"><span style="display: inline-block; z-index: 11; top: 5px; right: 1px; position: relative; font-size: 0px; color: transparent; font-stretch: normal; line-height: 0; font-family: a; text-shadow: none; background-color: transparent; border: 0px;">×</span></span>
													</li>
													<li class="active" data-tab-id="content-martin-new-event-home/atramape.htm"><a class="oc-icon-file-text-o" data-target="#tabs3312-tab-11504651733462" data-toggle="tab" style="line-height: 14px;" title="home/atramape.htm"><span class="title"><span><span class="title">...me/atramape.htm</span></span></span></a><span class="tab-close"><span style="display: inline-block; z-index: 11; top: 4px; right: 1px; position: relative; font-weight: bold; font-size: 16px; color: rgb(255, 255, 255);">×</span></span>
													</li>
												</ul>
											</div>
										</div>
										<div class="tab-content layout-row" style="height: 621px;">
											<div class="tab-pane layout-cell active" id="tabs3312-tab-01504651733456" style="height: 621px;">
												<form accept-charset="UTF-8" action="https://hoteleshesperia.com.ve/hesperia_oct/backend/rainlab/pages" class="layout" data-change-monitor="true" data-disposable="" data-object-type="content" data-window-close-confirm="Close the tab? Unsaved changes will be lost." method="POST" style="height: 621px; width: 898px;">
													<div class="form-widget form-elements layout" data-control="formwidget" data-disposable="" data-refresh-handler="formContentf5b029440b27cafeb81dd5f30f8a753759af299149213::onRefresh" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213" role="form" style="height: 621px; width: 898px;">
														<div class="layout-row min-size">
															<div class="form-tabless-fields " id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-outsideTabs">
																<div class="form-group  text-field span-full   " data-field-name="fileName" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-field-fileName-group" style="width: 852px;">
																	<label for="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-field-fileName">FILE NAME</label>
																	<input type="text" name="fileName" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-field-fileName" value="home/atramape.htm" placeholder="" class="form-control" autocomplete="off" maxlength="255" default-focus="1" style="line-height: 1.42857; width: 852px;">
																</div>
																<div class="form-group  partial-field span-full   collapse-visible" data-field-name="toolbar" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-field-toolbar-group" style="width: 852px;">
																	<div class="form-buttons loading-indicator-container" data-toolbar-type="content"><a class="btn btn-primary oc-icon-check save" data-disposable="" data-hotkey="ctrl+s, cmd+s" data-load-indicator="Saving..." data-request="onSave" style="line-height: 1.42857; user-select: none;">&nbsp;Save</a>&nbsp;</div>
																</div>
																<div class="form-group  widget-field span-full   " data-field-name="components" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-field-components-group" style="width: 852px;">
																	<div class="control-componentlist bg-s">
																		<div class="components" data-control="toolbar" data-disposable="" style="width: 852px;">
																			<div class="layout" style="height: 0px; width: 852px;"></div>
																		</div>
																	</div>
																</div>
																<a class="tab-collapse-icon tabless"></a>
																<a href="javascript:;" class="tab-collapse-icon tabless"></a>
															</div>
														</div>
														<div class="layout-row" style="height: 493px;">
															<div class="control-tabs secondary-tabs layout  secondary-content-tabs primary-collapsed has-tabs" data-control="tab" data-slidable="" id="Form-formContentf5b029440b27cafeb81dd5f30f8a753759af299149213-secondaryTabs" style="height: 493px; width: 898px;">
																<div class="layout-row min-size">

																	<ul class="nav nav-tabs" data-disposable="">
																		<li class="active"><a data-target="#tabs3924-tab-01504651733483" data-toggle="tab" href="https://hoteleshesperia.com.ve/hesperia_oct/backend/rainlab/pages#secondarytab-1" title="Content"><span class="title"><span><span class="title">Content</span></span></span></a><span class="tab-close"><i>×</i></span></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>