<div class="container-fuild" id="complementos-index">
    <div class="col-md-12" >
      <div class="col-md-6 col-sm-12 h-blue-bg no-padding" id="atrapame-index" >
         <div class="col-md-12" style="padding:0" >
           <img class="img-responsive"
            src="http://localhost/hesperia_oct/storage/app/media/tests/atrapame.png">
           <div id="clock-atrapame" class="h-blue-bg"></div>
         </div>

      </div>
      <div class="col-md-6 col-sm-12 no-padding" style="height:400px">
          <div class="col-md-12 col-sm-6 col-xs-12 complemento-half">
            <a href="http://localhost/hesperia_oct/blog">
              <img class="img-responsive" width="100%"
               src="http://localhost/hesperia_oct/storage/app/media/tests/noticia.png">
              <h4 class="pull-left">Blog Hesperia</h4>
            </a>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12 complemento-half">
            <img class="img-responsive" width="100%"
             src="http://localhost/hesperia_oct/storage/app/media/tests/habitacion.png">
            <h4 class="pull-left">Habitaciones</h4>
          </div>
      </div>
    </div>
  <!--</div>-->
</div>
