<div class='container-fluid' id="hoteles-index">
  <div class='col-md-12' id="hoteles-index-carousel">
    <div class="item">
      <div class='col-md-12'>
        <a href="http://localhost/hesperia_oct/hotel/hesperia-wtc-valencia">
          <img src="http://localhost/hesperia_oct/storage/app/media/tests/img-58126e3a80f93.jpeg" class='img-responsive'>
        <h2 class="text-center">Hesperia WTC Valencia</h2>
        </a>
      </div>
    </div>

    <div class="item">
      <div class='col-md-12'>
        <img src="http://localhost/hesperia_oct/storage/app/media/tests/hesperia%20maracay.png" class='img-responsive'>
        <h2 class="text-center">Hesperia Maracay</h2>
      </div>
    </div>

    <div class="item">
      <div class='col-md-12'>
        <a href="http://localhost/hesperia_oct/hotel/hesperia-isla-margarita">
          <img src="http://localhost/hesperia_oct/storage/app/media/tests/img-57e4463295ccc.jpeg" class='img-responsive'>
          <h2 class="text-center">Hesperia Isla Margarita</h2>
        </a>
      </div>
    </div>
    <div class="item">
      <div class='col-md-12'>
        <img src="http://localhost/hesperia_oct/storage/app/media/tests/img-57e44927e5974.jpeg" class='img-responsive'>
        <h2 class="text-center">Hesperia Playa el Agua</h2>
      </div>
    </div>
    <div class="item">
      <div class='col-md-12'>
        <img src="http://localhost/hesperia_oct/storage/app/media/tests/img-57e4499f7e7c6.jpeg" class='img-responsive'>
        <h2 class="text-center">Hesperia Edén Club</h2>
      </div>
    </div>
  </div>
</div>
