<section id="noticia" class="parallax-section">
  <div class="container-fluid">
    <div class="row">

      <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s">
        <h2>Noticias</h2>
        <h3>Hesperia Hotels & Resorts, estuvo presente en la Expo Boda 2017</h3>
        <p class="hidden-xs">En la última edición de la Expo Boda 2017, Hesperia Hotels & Rerots dijo presente junto a parte de su equipo de
          colaboradores, los cuales viajaron a la ciudad de Caracas, para ofrecer las Bodas Destinos como uno de los
          principales atractivos de la cadena.
        </p>
        <p>
          <a href="#" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">Visitar Blog</a>
        <a href="#" class="btn btn-lg btn-primary smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">Leer noticia</a>
        </p>
      </div>
      <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
        <img src="http://localhost/hesperia_oct/storage/app/media/contents/noticia-home.jpeg" class="img-responsive" alt="Overview">
      </div>

    </div>
    <p class="text-center">
      <br>
      <a href="#" class="btn btn-primary smoothScroll wow fadeInUp visible-xs" data-wow-delay="2.3s">Leer noticia</a>
    </p>

  </div>
</section>
