<section class="parallax-section" id="restaurantes-index">
	<div class="container">
		<div class="row">
			<div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">

				<h2>Restaurantes</h2>

				<p>&nbsp;En Hesperia tenemos especial predilección por la buena cocina, disfruta de una variedad de restaurantes y bares &nbsp;en nuestros hoteles vacacionales y corporativos.</p>

				<h4>¡Reserva tu mesa!</h4><a class="btn btn-primary" href="https://hoteleshesperia.com.ve/restaurantes">Visitar</a></div>
		</div>
	</div>
</section>