<section class="full-width intro-parallax banner-half" style="background-image: linear-gradient( 135deg, #FFCF71 10%, #2376DD 100%);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">

				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Empleos</h1>
			</div>
		</div>
	</div>
</section>