<section class="full-width intro-parallax" id="banner-lista-hoteles" style="background-image:url('https://hoteleshesperia.com.ve/storage/app/media/contents/hoteles-list-banner.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!--<h3 class="wow bounceIn" data-wow-delay="0.9s">vive en grande en los mejores Hoteles del País</h3>-->

				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Hoteles</h1>
				<!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
				<!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>--></div>
		</div>
	</div>
</section>
<div class="container-luid text-center">

	<h2 class="page-header">¡Vive en grande en los mejores hoteles del país!</h2>

	<p class="lead">Disfruta de una gran experiencia en la ciudad o en la costa</p>
</div>