[viewBag]
title = "Responsabilidad Social"
url = "/responsabilidad-social"
layout = "layout-basico"
is_hidden = 0
navigation_hidden = 0
titulo = "Responsabilidad Social"
banner = "/Banner Varios 1200x500/banner-responsabilidad-social.jpg"
robot_index = "index"
robot_follow = "follow"
==
<div class="container-fluid">
	<br>
	<div class="jumbotron">

		<h3><em>"Somos activos en las comunidades donde vivimos."</em></h3>

		<p class="lead">Hoteles Hesperia Venezuela como parte del NH Hotel Group quiere seguir creciendo de forma responsable y comprometida con todos sus grupos de interés contribuyendo al desarrollo sostenible del Grupo en la Sociedad.</p>
	</div>
</div>
<section class="section-narrow">
	<div class="container">
		<div class="row featurette">
			<div class="wow fadeInUp col-md-6 animate" data-wow-delay="0.9s"><img class="img-responsive fr-fil fr-dib" data-src="holder.js/200x200/auto" src="https://hoteleshesperia.com.ve/storage/app/media/contents/2.jpg" data-holder-rendered="true"></div>
			<div class="wow fadeInUp col-md-6 animate" data-wow-delay="0.9s">

				<h2 class="featurette-heading">Nuestro compromiso</h2>

				<h3>Estamos comprometidos en ofrecer servicios de calidad, consistentes y eficientes,</h3>

				<p class="text-justify">con el fin de sastifascer las demandas y expectativas de nuestros clientes, accionistas, proveedores, empleados y la sociedad en general.La Compañía trabaja para cumplir con su compromiso de integrar la gestión responsable del negocio en el ámbito económico, social y medioambiental</p>
			</div>
		</div>
	</div>
</section>
<section class="section-narrow">
	<div class="container">
		<div class="row featurette">
			<div class="wow fadeInUp col-md-6 animate" data-wow-delay="0.9s">

				<h2 class="featurette-heading">Formación</h2>

				<h3>Contamos con programas de formación que permite a nuestro personal ser cada día mejor en su desarrollo profesional con las nuevas tecnologías y el medio ambiente.</h3>

				<p class="text-justify">Diariamente implementamos prácticas de operación 15 minutos antes de iniciar labores, lo que permite reforzar los conocimientos y filosofía básica de nuestra organización.</p>
			</div>
			<div class="wow fadeInUp col-md-6 animate" data-wow-delay="0.9s"><img class="img-responsive fr-fil fr-dib" data-src="holder.js/500x500/auto" src="https://hoteleshesperia.com.ve/storage/app/media/contents/1.jpg" data-holder-rendered="true"></div>
		</div>
	</div>
</section>
<section class="section-narrow">
	<div class="container">
		<div class="row featurette">
			<div class="wow fadeInUp col-md-6 animate" data-wow-delay="0.5s"><img class="featurette-image img-responsive center-block fr-fic fr-dib" data-src="holder.js/500x500/auto" src="https://hoteleshesperia.com.ve/storage/app/media/contents/4.jpg" data-holder-rendered="true"></div>
			<div class="wow fadeInUp col-md-6 animate">

				<h2 class="featurette-heading">Sostenibilidad.</h2>

				<h3>En Hoteles Hesperia Venezuela operamos nuestra actividad hotelera con la ambición de liderar el comportamiento responsable, creando valor compartido a nivel económico, social y medioambiental.</h3>

				<p class="text-justify">Aspiramos a ofrecer experiencias únicas a nuestros clientes y empleados, a ser activos en las comunidades en las que vivimos, y en el cuidado del medio ambiente; lo que nos permite transmitir los principios éticos y de negocio responsable que guían nuestra forma de trabajar.</p>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">

		<h2>Noticias relacionadas</h2>
	</div>
</div>

<p>
	<br>
</p>
<figure data-inspector-id="inspectorid-307580046900" data-property-cantidad="5" data-property-categoria="Responsabilidad social" data-property-mostrartitulo="0" data-property-numposts="1" data-property-titulocategoria="0" data-snippet="filas-post-categorias">&nbsp;</figure>