[viewBag]
title = "tienda"
url = "/tienda"
layout = "layout-blank"
is_hidden = 0
navigation_hidden = 0
meta_title = "Tienda"
meta_description = "Productos y servicios exclusivos con la calidad que nos caracteriza"
seo_title = "Tienda"
seo_description = "Productos y servicios exclusivos con la calidad que nos caracteriza"
seo_keywords = "Tienda, Tienda Hesperia, Tratamientos de Spa, Spa en Margarita, entradas a eventos, tickets, eventos en Valencia"
canonical_url = "hoteleshesperia.com.ve/tienda"
robot_index = "index"
robot_follow = "follow"
==
<section class="full-width intro-parallax banner-half" style="background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!--<h3 class="wow bounceIn" data-wow-delay="0.9s">vive en grande en los mejores Hoteles del País</h3>-->

				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Tienda Hesperia</h1>
				<!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
				<!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>--></div>
		</div>
	</div>
</section>
<div class="container" style="padding-top: 3em;">
	<div class="col-md-6 wow bounceInLeft" data-wow-delay="0.9s"><img src="/storage/app/media/uploaded-files/jump-girl.png" class="img-responsive fr-fil fr-dib" style="vertical-align: middle;
    border-style: none; display:block" data-result="success"></div>
	<div class="col-md-6 wow bounceInRight" data-wow-delay="0.5s">

		<h2>EN HESPERIA LO ENCUENTRAS TODO</h2><em><p class="lead">No solo nos encargamos de que tu estadía sea maravillosa, también te ofrecemos productos y servicios exclusivos con el</p></em></div>
	<div class="col-md-6 wow bounceInRight" data-wow-delay="0.5s"><em><p class="lead">sello de calidad que nos caracteriza</p></em>
		<div class="col-md-12">

			<h3><span class="fa-stack fa-lg"><i class="fa fa-leaf fa-stack-1x"></i>&nbsp;</span>PASEOS</h3>

			<p>La Isla de Margarita es bien conocida por su belleza, lugares de ensueño Te esperan por doquier y por eso preparamos constantes salidas para que conozcas la Isla y te enamores tanto de ella como nosotros</p>
		</div>
		<div class="col-md-12">

			<h3><span class="fa-stack fa-lg"><i class="fa fa-line-chart fa-stack-1x"></i>&nbsp;</span>EVENTOS CORPORATIVOS</h3>

			<p>Nuestros Hoteles urbanos llevan el estandarte a la hora de acoger los principales eventos en las ciudades a cuales pertenecen, por eso queremos ir un paso más allá y además de ofrecerte la más cómoda estadía también la oportunidad de adquirir tus entradas fácilmente</p>
		</div>
	</div>
</div>
<section class="parallax-section parallax-static-page" style="background-image:url('https://www.hoteleshesperia.com.ve/storage/app/media/parallax/parallax-spa-tienda.jpg'); padding: 10em 0em 10em 0em;">
	<div class="container">
		<div class="row text-center gradient-text">
			<div class="wow fadeInUp col-md-offset-2 col-md-8 col-sm-12 presentation" data-wow-delay="0.9s">

				<h2>HESPERIA SPA</h2>

				<p class="lead ">Visita nuestro Spa y déjate consentir como mereces. Terapias y tratamientos ancestrales garantizan a nuestros clientes un sentimiento de renovación y plenitud inigualable</p>
			</div>
		</div>
	</div>
</section>
<section class="parallax-section wow fadeInUp" data-wow-delay="1.5s" id="tratamientos-section">
	<div class="container">
		<div class="row ">
			<br>
		</div>
	</div>
</section>
<figure data-component="\HesperiaPlugins\Hoteles\Components\ListaUpselling" data-inspector-id="inspectorid-1195448485907" data-property-categorias="3" data-property-max_items="5" data-property-moneda="3" data-property-num_slides="3" data-property-tag="Tests" data-snippet="Lista Upsellings">&nbsp;</figure>
<figure data-component="\HesperiaPlugins\Hoteles\Components\ListaUpselling" data-inspector-id="inspectorid-1432299703943" data-property-categorias="3" data-property-destacados="1" data-property-max_items="5" data-property-moneda="3" data-property-num_slides="3" data-property-tag="Tickets" data-snippet="Lista Upsellings1">&nbsp;</figure>
<figure data-component="\HesperiaPlugins\Hoteles\Components\ListaUpselling" data-inspector-id="inspectorid-950346183123" data-property-categorias="3" data-property-max_items="5" data-property-moneda="3" data-property-num_slides="3" data-property-tag="Spa" data-snippet="Lista Upsellings2">&nbsp;</figure>

<h2 class="text-center">No te pierdas nuestros eventos</h2>
<figure data-inspector-id="inspectorid-1434727484998" data-property-cantidad="5" data-property-categoria="Eventos" data-property-mostrartitulo="0" data-property-numposts="3" data-snippet="filas-post-categorias">&nbsp;</figure>