[viewBag]
==
<section id="banner-servicios" class="full-width intro-parallax" style="background-image:url('https://hoteleshesperia.com.ve/storage/app/media/Banner%20Varios%201200x500/Hesperia%20banner%20Servicios.jpg')">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">{{titulo}}</h1>
              <!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
              <!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>-->
            </div>
        </div>
    </div>
</section>