<section id="intro-restaurant" class="full-width intro-parallax" style="background-image:url('{{restaurant.banner.path}}')">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
              <!--  <h3 class="wow bounceIn" data-wow-delay="0.9s">{hotel}</h3>-->
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">{{restaurant.nombre}}</h1>
              <!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
              <!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>-->
            </div>
        </div>
    </div>
</section>
