<section id="video" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s">
                <h2>{hotel.nombre}</h2>
                <h3>{hotel.descripcion}</h3>
                <p>{hotel.direccion}</p>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.6s">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=LwzHhE0hA_Y" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
