h2 {
	text-align: center;
}
.destacadas {
    margin-top: 40px; margin-bottom: 20px;
}
.post {
    cursor: pointer;
    position: relative;             
    display: block;   
}
.post-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-gap: 15px 15px;
    transition: 1000ms ;
}
.post-item {
    border: 1px solid #ccc;
}
audio {
    width: 270px;
}