description = "test layout"

[googleTracker]

[SeoCmsPage SeoCmsPage2]
==
<!DOCTYPE html>
<html lang="en">
<head>
    {% component 'SeoCmsPage' %}
    {% partial "misc/seo-partial" %}
    <meta name="author" content="Hesperia Venezuela">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico'|media }}"/>
<!--
New Event
http://www.templatemo.com/tm-486-new-event
-->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/animate.css',
        'assets/css/font-awesome.min.css',
        'assets/css/owl.theme.css',
        'assets/css/owl.carousel.css',
        'assets/css/style.css',
        'assets/css/principal.css',
        'assets/css/sweetalert2.min.css',
    ]|theme }}" rel="stylesheet">
    {% styles %}
    <script src="{{ [
        'assets/js/jquery.js',
        'assets/js/bootstrap.min.js',
        'assets/js/jquery.parallax.js',
        'assets/js/owl.carousel.min.js',
        'assets/js/smoothscroll.js',
        'assets/js/wow.min.js',
        'assets/js/custom.js',
        'assets/js/principal.js',
        'assets/jQuery.countdown-master/dist/jquery.countdown.js',
        'assets/js/sweetalert2.min.js',
        ]|theme }}"></script>
        {% scripts %}
</head>

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
{% component 'googleTracker' %}
    <div class="preloader">
        <div class="sk-rotating-plane"></div>
    </div>

    {% framework extras %}

    {% partial 'generales/menu-principal' %}

    {% page %}

    {% partial 'generales/footer-principal' %}

{# {% if this.theme.settings_gotop %}
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% endif %} #}



</body>
</html>