title = "categoria"
url = "/categoria/:slug/:page?"
layout = "test"
description = "listado de post por categorias"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog"
postPage = "blog/post"
==
{% content 'banner-paginas/blog-banner' %}

{%set nombre_categoria = blogPosts.category.name%}

{% set posts = blogPosts.posts %}

<div class="container-fluid">
  <h2 class="text-center">{{nombre_categoria}}</h2>
  <hr>
    <div class="col-md-12">
    {% for post in posts %}
    
        <div class="thumbnail col-md-6">
          <img src="{{post.featured_images[0].thumb(1200, 350, {'mode':'crop'})}}"
          class="img-responsive" alt="">
            <div class="caption">
              <p class="text-center"><strong>{{ post.title }}</strong></p>
              <p class="text-center">{{ str_words(post.summary, 10) }}</p>
              <p class="text-center">
                <a href="{{post.url}}" class="btn btn-primary" role="button">Leer Más</a>
              </p>
          </div>
        </div>
    
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
    </div>
{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

</div>