title = "Nuestros Hoteles"
url = "/hoteles"
layout = "test"
description = "Todos los hoteles"
meta_title = "Nuestros Hoteles"
meta_description = "Hesperia de Venezuela ya cuenta con 5 Hoteles en el territorio nacional y próximamente se hará apertura 
 de Hesperia Maracaibo."
is_hidden = 0
seo_keywords = "Hoteles en Maracay, Hoteles en Valencia, Hoteles en isla de Margarita, Vacaciones en margarita, bodas en la playa"
canonical_url = "https://hoteleshesperia.com.ve/hoteles"
robot_index = "index"
robot_follow = "follow"

[builderList]
modelClass = "HesperiaPlugins\Hoteles\Models\Hotel"
scope = "-"
displayColumn = "nombre"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% content 'banner-paginas/lista-hoteles-banner'%}

{% for record in records %}

  {% partial 'misc/lista-hoteles' hotel=record %}

{% endfor %}

{# {% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %} #}