title = "tienda"
url = "/tienda/:slug"
layout = "test"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Upselling]
slug = "{{ :slug }}"
destino = "pagos"
==
<?php
function onEnd(){
  if($this["upselling"]){
      $seo_props =  array(
        "titulo" => $this["upselling"]->titulo,
        "descripcion" => $this["upselling"]->descripcion,
        "type" => "article",
        "imagen" => $this["upselling"]->imagen->getPath(),
        "url" => "https://hoteleshesperia.com.ve/tienda/".$this["upselling"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
  //$this->page->description = $this["record"]->descripcion;
 //$this->page->meta_description = $this["record"]->descripcion;
 //$this->addJs('assets/js/principal.js');
 $this->addJs('assets/js/hoteles.js');
}
?>
==
<section class="full-width intro-parallax banner-half"  style="background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!--<h3 class="wow bounceIn" data-wow-delay="0.9s">vive en grande en los mejores Hoteles del País</h3>-->

				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Tienda Hesperia</h1>
				<!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
				<!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>--></div>
		</div>
	</div>
</section>

<div class="container">
<br>
{% component 'Upselling' %}
</div>